<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.mui-content {
				background-color: white;
				line-height: 30px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<button class="mui-btn mui-action-back  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
				返回
			</button>
			<button class="mui-btn mui-btn-link mui-btn-nav mui-pull-right">
					<span class="mui-icon mui-icon-checkmarkempty"></span>
			</button>
			<h1 class="mui-title" style="color: #007AFF;">记事本</h1>
		</header>
		<div contenteditable="true" class="mui-content">

		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>