<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<title></title>

		<link rel="stylesheet" href="../../css/mui.min.css">
		<script src="../../js/mui.min.js"></script>
		<style>
			.headImg {
				max-width: 45px;
				max-height: 45px;
				margin: 5px;
				border-radius: 50%;
				float: left;
			}
			
			.username {
				float: left;
				font-size: 18px;
				margin: 10px;
				color: #007AFF;
			}
			.line{
				float: left;
				clear: left;
				margin: 10px;
				width: 100%;
			}
			.title{
				color: #007AFF;
				font-size: 20px;
				width: 30%;
				float: left;
			}
			.content{
				float: right;
				width:70%; 
			}
			
			
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-transparent">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">导航栏</h1>
		</header>
		<div class="mui-content">
			<img id="img1" src="../../images/lunnbo2.jpg" />
			<div class="head">
				<img class="headImg" src="../../images/lunbo1.jpg" />
				<div class="username">刘国奇</div>
			</div>
			<div class="line">
				<div class="title">描述</div>
				<div class="content">
					哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
				</div>
			</div>
			<div class="line">
				<div class="title">时间</div>
				<div class="content">
				2017年5月15日
				</div>
			</div>
			<div class="line">
				<div class="title">地点</div>
				<div class="content">
				浑南
				</div>
			</div>
 
		</div>
	</body>

</html>