<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/mui.min.css">
			<script src="../../js/mui.min.js"></script>
		<style>
			.mui-bar .mui-icon span {
				font-size: 18px;
			}
			#head_title{
				float:right;
				font-size: 17px;
				line-height: 44px;
				text-align: center;
				font-weight: 500;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="mui-icon mui-action-back mui-icon-arrowleft mui-icon-back mui-badge-primary mui-badge-inverted"><span>返回</span></div>
			<h1 id="title" class="mui-title mui-badge-primary mui-badge-inverted">提醒事项</h1>
			<h2 id="head_title" class="mui-badge-primary mui-badge-inverted">添加/编辑</h2>
		</header>
		<div class="mui-content"></div>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript">
		//启用双击监听
		mui.init({
			gestureConfig: {
				doubletap: true
			},
			subpages: [{
				url: 'reminder_sub.html',
				id: 'reminder_sub.html',
				styles: {
					top: '45px',
					bottom: '0px',
				}
			}]
		});

		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap', function() {
			if(contentWebview == null) {
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
		});
	</script>

</html>